* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    /* không cộng dồn padding */
    box-sizing: border-box;
}
p,h1,h2,h3{
    font-family: 'Oswald', sans-serif;
}
p{
    font-weight: 300;
}
h1{
    font-weight: 700;
}
h2{
    font-weight: 600;
}
h3{
    font-weight: 400;
}
img{
    max-width: 225px;
}
video{
    max-width: 457px;
}