* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    /* không cộng dồn padding */
    box-sizing: border-box;
}
.section-heading{
    font-size: 14px;
    font-weight: 300;
}
.section-title{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-info{
    font-size: 18px;
    font-weight: 600;
    color: #888888;
}
img{
    max-width: 225px;
}
video{
    max-width: 457px;
}