.post-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}
.post-grid-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.post{
    position: relative;
    margin-right: 0;
    width: max-content;
}
.post-info{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.post img{
    margin: 0;
}