.post-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}
.post-grid-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.post{
    opacity: 0.5;
}
.post img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#start-post{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#end-post{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.post-info{
    display: none;
}