.news-meipaly{
    background-color: white;
}
.news-meipaly .section-heading{
    color: gray;
}
.post-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}
.post-grid-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.post img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(50%) contrast(50%);
}
#start-post{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#end-post{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.post{
    cursor: pointer;
    position: relative;
}
.post-info{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    top: 0;
    left: 0;
    opacity: 0;
}
.post-info-content{
    color: white;
}
.post-name{
    font-size: 30px;
}
.post-search-more{
    align-self: flex-end;
    top: 0;
    background-color: white;
    padding: 5px 10px;
}
.post-info:hover{
    background-color: #e62b4a91;
    opacity: 1;
}
.post-search-more:hover{
    background-color: black;
    color: white;
}

