.products-meipaly{
    background-color: black;
    
}
.products-meipaly .section-heading{
    color: #e62b4a;
}
.products-meipaly .section-title{
    color: white;
}
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}
.product{
    background-color: white;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
